{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--Hero Section-->
    <div class="hero-section">
        <div class="background-container">
            <img src="https://images.unsplash.com/photo-1621934955461-eb156eb8520c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="Camp site">
        </div>
        <div class="hero-content">
            <h1 class="center-align hero-header">Olivine Beach Retreat</h1>
            <p class="center-align hero-text">Olivine Beach Retreat is our latest initiative to give our members an opportunity to spend time outside the family home to develop their independence and life skills</p>
            <a href="" class="blue waves-effect waves-light btn-large round-btn">Book Now</a>
        </div>
    </div>
{% endblock %}